.Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: darkred;
  color: white;
  font-size: 30px;
}

.Logo {
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
